._fade_out_up-enter {
  opacity: 1;
}
._fade_out_up-enter-done {
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  transition: all 1s;
}

._fade_in_bottom-enter {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  transition: all 1s;
}
._fade_in_bottom-enter-done {
  opacity: 1;
  transition: all 1s;
}
